<h2 mat-dialog-title>{{ !!data?.id ? "Actualizar" : "Crear" }} horario</h2>
<mat-dialog-content>
  <form id="dataForm" [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="flex flex-col gap-3">
      <mat-form-field>
        <mat-label>Docente</mat-label>
        <input
          type="text"
          placeholder="Ej. Eduardo Morales"
          matInput
          formControlName="teacher"
          [matAutocomplete]="autoTeachers"
        />
        <mat-hint>Seleccione una disciplina </mat-hint>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("teacher")) }}
        </mat-error>
        @if (formGroup.get("teacher")?.value) {
        <button
          mat-icon-button
          matSuffix
          (click)="formGroup.get('teacher')?.setValue(null)"
        >
          <mat-icon svgIcon="close" />
        </button>
        }
        <mat-autocomplete
          #autoTeachers="matAutocomplete"
          [displayWith]="teacherTools.displayFn"
        >
          @for (teacher of teacherTools.options(); track teacher.id) {
          <mat-option [value]="teacher">
            <div class="flex items-center gap-2">
              <img [alt]="teacher.fullname" class="h-6 w-6" [src]="teacher.picture" />
              <span> {{ teacher.fullname }} </span>
            </div>
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Disciplina</mat-label>
        <input
          type="text"
          placeholder="Ej. Taekwondo"
          matInput
          formControlName="discipline"
          [matAutocomplete]="autoDisciplines"
        />
        <mat-hint>Seleccione una disciplina </mat-hint>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("discipline")) }}
        </mat-error>
        @if (formGroup.get("discipline")?.value) {
        <button
          mat-icon-button
          matSuffix
          (click)="formGroup.get('discipline')?.setValue(null)"
        >
          <mat-icon svgIcon="close" />
        </button>
        }
        <mat-autocomplete
          #autoDisciplines="matAutocomplete"
          [displayWith]="disciplineTools.displayFn"
        >
          @for (discipline of disciplineTools.options(); track discipline.id) {
          <mat-option [value]="discipline">
            <p>{{ discipline.name }}</p>
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Niveles permitidos</mat-label>
        <mat-select formControlName="levels" multiple>
          @for (level of levelTools.options(); track $index) {
          <mat-option [value]="level.id">{{ level.abbreviation }}</mat-option>
          }
        </mat-select>
        <mat-hint>
          Seleccione los niveles que pueden tomar esta disciplina
        </mat-hint>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("levels")) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Día</mat-label>
        <mat-select formControlName="day">
          @for (day of days; track $index) {
          <mat-option [value]="day.value">{{ day.label }}</mat-option>
          }
        </mat-select>
        <mat-hint> Seleccione el día de la semana con actividad </mat-hint>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("day")) }}
        </mat-error>
      </mat-form-field>

      <div class="grid grid-cols-2 gap-3">
        <mat-form-field>
          <mat-label>Hora de inicio</mat-label>
          <input
            matInput
            [matTimepicker]="timePicker1"
            formControlName="start"
            matTimepickerMin="08:00"
            matTimepickerMax="23:00"
          />
          <mat-timepicker-toggle matIconSuffix [for]="timePicker1">
            <mat-icon matTimepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-timepicker-toggle>
          <mat-timepicker #timePicker1 interval="30min" />
          <mat-hint> Inicio de las actividades </mat-hint>
          <mat-error>
            {{ formTools.checkForErrorsIn(formGroup.get("start")) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Hora de cierre</mat-label>
          <input
            matInput
            [matTimepicker]="timePicker2"
            formControlName="end"
            matTimepickerMin="08:00"
            matTimepickerMax="23:00"
          />
          <mat-timepicker-toggle matIconSuffix [for]="timePicker2">
            <mat-icon matTimepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-timepicker-toggle>
          <mat-timepicker #timePicker2 interval="30min" />
          <mat-hint> Cierre de las actividades </mat-hint>
          <mat-error>
            {{ formTools.checkForErrorsIn(formGroup.get("end")) }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div
    class="flex w-full"
    [ngClass]="{
    'justify-between': !!data?.id,
    'justify-end': !data?.id,
  }"
  >
    @if (!!data?.id) {
    <button
      mat-button
      [disabled]="removeLoading()"
      color="warn"
      (click)="remove()"
    >
      {{ removeLoading() ? "Eliminando..." : "Eliminar" }}
    </button>
    }

    <div>
      <button mat-button mat-dialog-close [disabled]="loading()">
        Cancelar
      </button>
      <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
        {{ loading() ? "Guardando..." : "Guardar" }}
      </button>
    </div>
  </div>
</mat-dialog-actions>
