<mat-card>
  <mat-card-header>
    <mat-card-title>Precios</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="flex gap-2 h-full">
      <!-- Sidebar (Chats List) -->
      <div class="w-1/3">
        <div class="flex items-center gap-2 p-2">
          <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="w-full"
          >
            <input
              matInput
              placeholder="Ej. Taekwondo"
              [formControl]="searchControl"
            />
          </mat-form-field>
          <button
            mat-icon-button
            color="primary"
            matTooltip="Refrescar"
            (click)="refreshCourses()"
          >
            <mat-icon
              svgIcon="refresh"
              [ngClass]="{ 'animate-spin': coursesLoading() }"
            />
          </button>
          <button mat-icon-button (click)="openCourseFormDialog()">
            <mat-icon svgIcon="plus" />
          </button>
        </div>
        <mat-divider />
        <mat-nav-list>
          @for (course of courses(); track $index) {
          <app-course-item
            [course]="course"
            (update)="openCourseFormDialog($event)"
            (delete)="openCourseDeleteDialog($event)"
          ></app-course-item>
          }
        </mat-nav-list>
      </div>

      <!-- Fees Area -->
      <div class="w-2/3">
        <div class="flex items-center gap-2 p-2">
          @if (!!course()?.id) {
          <h4 class="font-medium text-lg">{{ course()!.name }}</h4>
          }
          <span class="flex-1 h-[52px]"></span>

          <button
            mat-icon-button
            color="primary"
            matTooltip="Refrescar"
            (click)="refreshFees()"
            [ngClass]="{ 'animate-spin': feesLoading() }"
            [disabled]="!course()?.id"
          >
            <mat-icon svgIcon="refresh" />
          </button>
          <button
            mat-icon-button
            (click)="openFeeFormDialog()"
            [disabled]="!course()?.id"
          >
            <mat-icon svgIcon="plus" />
          </button>
        </div>
        <mat-divider />
        <mat-nav-list>
          @for (fee of fees(); track $index) {
          <app-fee-item
            [fee]="fee"
            (update)="openFeeFormDialog($event)"
            (delete)="openFeeDeleteDialog($event)"
          />
          }
        </mat-nav-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>
