<div class="h-[calc(100vh-14rem-1px)] flex flex-col">
  <ng-scrollbar class="relative flex-1 mt-2">
    <table class="w-full text-sm">
      <thead>
        <tr>
          <th class="text-left px-3 py-2 font-medium col-span-2">Concepto</th>
          <th class="text-left px-3 py-2 font-medium">Importe</th>
          <th class="text-left px-3 py-2 font-medium">Descuento</th>
          <th class="text-left px-3 py-2 font-medium">Subtotal</th>
          <th class="text-left px-3 py-2 font-medium">IVA</th>
          <th class="text-right px-3 py-2 font-medium">Total</th>
        </tr>
      </thead>
      <tbody>
        @for (group of conceptGroups(); track group.enrollmentID) {
        <tr>
          <td colspan="6" class="px-2 py-2 border-t-2 border-neutral-400">
            <h3 class="font-medium">{{ group.branchName }}</h3>
            <p class="text-sm">
              {{ group.enrollmentDetails }}
            </p>
          </td>
        </tr>
        @for (concept of group.concepts; track concept.debitId) {
        <tr>
          <td class="pl-8 pr-3 py-2 col-span-2">{{ concept.description }}</td>
          <td class="px-3 py-2">{{ concept.amount | currency : "MXN" }}</td>
          <td class="px-3 py-2">{{ concept.discount | currency : "MXN" }}</td>
          <td class="px-3 py-2">{{ concept.subtotal | currency : "MXN" }}</td>
          <td class="px-3 py-2">{{ concept.taxes | currency : "MXN" }}</td>
          <td class="px-3 py-2 text-right font-semibold">
            {{ concept.total | currency : "MXN" }}
          </td>
        </tr>
        } }
      </tbody>
    </table>
  </ng-scrollbar>

  <div class="flex justify-end items-end gap-2">
    <div class="w-80 flex flex-col gap-2">
      <div class="flex gap-2 w-full">
        <p class="w-full text-left font-semibold">Importe</p>
        <p class="w-full text-right">{{ amount() | currency : "MXN" }}</p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-left font-semibold">Descuentos</p>
        <p class="w-full text-right">{{ discount() | currency : "MXN" }}</p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-left font-semibold">Subtotal</p>
        <p class="w-full text-right">{{ subtotal() | currency : "MXN" }}</p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-left font-semibold">IVA</p>
        <p class="w-full text-right">{{ taxes() | currency : "MXN" }}</p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-left font-semibold">Total</p>
        <p class="w-full text-right">{{ total() | currency : "MXN" }}</p>
      </div>

      <div class="col-span-2 flex flex-col gap-2">
        <button
          mat-flat-button
          class="w-full"
          [disabled]="!total()"
          (click)="openChargeDialog()"
        >
          Cobrar
        </button>

        <div class="flex gap-2">
          <button
            mat-button
            (click)="openClipChargeDialog()"
            [disabled]="!total()"
            class="w-full"
          >
            Cobrar con Clip
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
