<div class="h-[calc(100vh-14rem-1px)] flex flex-col">
  <ng-scrollbar class="relative flex-1 mt-2">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Concepto</th>
        <td mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Importe</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount | currency : "MXN" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef>Descuento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.discount | currency : "MXN" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="subtotal">
        <th mat-header-cell *matHeaderCellDef>Subtotal</th>
        <td mat-cell *matCellDef="let element">
          {{ element.subtotal | currency : "MXN" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="taxes">
        <th mat-header-cell *matHeaderCellDef>IVA</th>
        <td mat-cell *matCellDef="let element">
          {{ element.taxes | currency : "MXN" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">
          {{ element.total | currency : "MXN" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="expandable"
            [ngClass]="{
              collapsed: !isExpanded(element),
              expanded: isExpanded(element)
            }"
          ></div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- Para ver los detalles ejecuta (click)="toggle(row)" -->
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="element-row"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="details-row"
      ></tr>
    </table>
  </ng-scrollbar>

  <div class="flex justify-end items-end gap-2">
    <button mat-button (click)="openClipChargeDialog()" [disabled]="!total()">
      Generar links de cobro
    </button>
    <div class="w-60 flex flex-col gap-2">
      <div class="flex gap-2 w-full">
        <p class="w-full text-left font-semibold">Importe</p>
        <p class="w-full text-right">{{ amount() | currency : "MXN" }}</p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-left font-semibold">Descuentos</p>
        <p class="w-full text-right">{{ discount() | currency : "MXN" }}</p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-left font-semibold">Subtotal</p>
        <p class="w-full text-right">{{ subtotal() | currency : "MXN" }}</p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-left font-semibold">IVA</p>
        <p class="w-full text-right">{{ taxes() | currency : "MXN" }}</p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-left font-semibold">Total</p>
        <p class="w-full text-right">{{ total() | currency : "MXN" }}</p>
      </div>

      <div class="col-span-2">
        <button
          mat-flat-button
          class="w-full"
          [disabled]="!total()"
          (click)="openChargeDialog()"
        >
          Cobrar
        </button>
      </div>
    </div>
  </div>
</div>
