.item {
  gap: 0.25rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--mat-sys-surface-container-low);
  cursor: pointer !important;

  &:hover {
    background-color: var(--mat-sys-surface-container);
  }

  &.active {
    background-color: var(--mat-sys-primary-fixed);
  }
}
