<mat-card>
  <mat-card-header>
    <mat-card-title>Usuarios</mat-card-title>
  </mat-card-header>
  <mat-card-content class="min-h-[calc(100vh-10rem)]">
    <div class="flex gap-2 mt-2 items-center">
      <mat-form-field class="w-full" subscriptSizing="dynamic">
        <mat-label>Buscador</mat-label>
        <mat-icon svgIcon="magnify" matPrefix />
        <input
          type="search"
          [formControl]="searchControl"
          matInput
          placeholder="Ej: admin"
        />
      </mat-form-field>

      <button
        mat-icon-button
        matTooltip="Refrescar"
        [ngClass]="{ 'animate-spin': loading() }"
        (click)="refresh()"
      >
        <mat-icon svgIcon="refresh" />
      </button>
      <button
        mat-icon-button
        matTooltip="Crear nuevo"
        (click)="openFormDialog()"
      >
        <mat-icon svgIcon="plus" />
      </button>
    </div>

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">
          <p>
            {{ element.username }}
          </p>
          <p class="text-sm text-gray-500">
            {{ element.email }}
          </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <p class="w-full text-right!">Acciones</p>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="w-full text-right">
            <button
              mat-icon-button
              matTooltip="Asignar políticas"
              (click)="openPoliciesDialog(element)"
            >
              <mat-icon svgIcon="format-list-checkbox" />
            </button>
            <button
              mat-icon-button
              matTooltip="Editar"
              (click)="openFormDialog(element)"
            >
              <mat-icon svgIcon="pencil" />
            </button>
            <button
              mat-icon-button
              matTooltip="Eliminar"
              (click)="openDeleteDialog(element)"
            >
              <mat-icon svgIcon="delete" class="!text-red-400" />
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="totalCount()"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 100]"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
