<h2 mat-dialog-title>Creación de adeudo desde catálogo</h2>
<mat-dialog-content>
  <form id="dataForm" [formGroup]="formGroup" (ngSubmit)="submit()" >
    <mat-form-field class="w-full">
      <mat-label>Seleccione una cuota</mat-label>
      <mat-select formControlName="fee" multiLineOption>
        @for (fee of fees(); track fee.id) {
        <mat-option [value]="fee">
          <h4 mat-line>{{ fee.name }}</h4>
          <p mat-line class="text-sm text-gray-500">
            {{ fee.price | currency }} - {{ fee.frequency | frequency }}
          </p>
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
    {{ loading() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>
