<mat-list-item (click)="selectActivity()" [activated]="isActive()">
  <span matListItemTitle>{{ activity.name }}</span>
  <button
    mat-icon-button
    matListItemMeta
    [matMenuTriggerFor]="menu"
    (click)="openMenu($event)"
  >
    <mat-icon svgIcon="dots-vertical"></mat-icon>
  </button>
</mat-list-item>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="update.emit(activity)">
    <mat-icon svgIcon="pencil" />
    <span>Editar</span>
  </button>
  <button mat-menu-item (click)="delete.emit(activity)">
    <mat-icon svgIcon="delete" class="!text-red-400" />
    <span>Eliminar</span>
  </button>
</mat-menu>
