<div class="item">
  <mat-icon
    svgIcon="circle"
    matTooltip="{{ debit.state | debitState }}"
    [ngClass]="{
    '!text-yellow-600': debit.state === 'CANCELED' || debit.state === 'DEBT' || debit.state === 'CONDONED',
    '!text-purple-800': debit.state === 'PARTIALLY_PAID',
    '!text-green-800': debit.state === 'PAID',
}"
  ></mat-icon>

  <div>
    <p>{{ debit.dueDate }} - {{ debit.description }}</p>
    <p class="text-xs">Cobranza: {{ debit.total | currency:'MXN' }}</p>
  </div>

   <span class="flex-1"></span>

  <div matListItemMeta>
    <button
      class="mt-3"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      (click)="openMenu($event)"
    >
      <mat-icon svgIcon="dots-vertical"></mat-icon>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="update.emit(debit)">
    <mat-icon svgIcon="pencil"></mat-icon>
    <span>Editar</span>
  </button>
  <button mat-menu-item (click)="delete.emit(debit)">
    <mat-icon svgIcon="delete" class="!text-red-400"></mat-icon>
    <span>Eliminar</span>
  </button>
</mat-menu>
