<mat-card>
  <mat-card-header>
    <mat-card-title>Calendarios de actividades</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="h-[calc(100vh-10rem)] grid grid-cols-4 gap-2">
      <!-- Sidebar (Chats List) -->
      <div class="col-span-1 flex flex-col">
        <div class="flex items-center gap-2 p-2">
          <mat-form-field subscriptSizing="dynamic" class="w-full">
            <input
              matInput
              placeholder="Ej. Enero 2025"
              [formControl]="searchControl"
            />
          </mat-form-field>
          <button
            mat-icon-button
            matTooltip="Agregar nueva programación"
            (click)="openPeriodFormDialog()"
          >
            <mat-icon svgIcon="plus" />
          </button>
        </div>

        <mat-divider />

        <ng-scrollbar
          cdkDropList
          class="relative flex-1 mt-2"
          (cdkDropListDropped)="dropPeriod($event)"
        >
          @if(periodsLoading()) {
          <mat-progress-bar mode="query"></mat-progress-bar>
          } @for (period of periods(); track period.id) {
          <app-period-item
            [period]="period"
            (update)="openPeriodFormDialog($event)"
            (delete)="openPeriodDeleteDialog($event)"
          ></app-period-item>
          }
        </ng-scrollbar>
      </div>
      <!-- Fees Area -->
      <div class="col-span-3 flex flex-col">
        <div class="flex items-center gap-2 p-2">
          @if (!!period()?.id) {
          <h4 class="font-medium text-lg">{{ period()!.name }}</h4>
          }
          <span class="flex-1 h-[56px]"></span>
        </div>

        <mat-divider />

        <ng-scrollbar class="relative flex-1 mt-2">
          @if (period()?.id) {
          <app-calendar
            [id]="period()!.id"
            [days]="period()!.days"
            [firstHour]="period()!.firstHour"
            [lastHour]="period()!.lastHour"
            (select)="openAddScheduleDialog($event)"
            [schedules]="schedules()"
            selectable
            class="mt-2"
          >
            <ng-template #schedule let-events="events">
              <div class="flex flex-col gap-1">
                @for (event of events; track event.id) {
                <mat-chip
                  (click)="openFormScheduleDialog($event, event)"
                  class="truncate line-clamp-1"
                  [matTooltip]="event.discipline.name"
                >
                  <p class="text-xs">
                    {{ event.discipline.name }}
                  </p>
                </mat-chip>
                }
              </div>
            </ng-template>
          </app-calendar>
          }
        </ng-scrollbar>
      </div>
    </div>
  </mat-card-content>
</mat-card>
