<h2 mat-dialog-title>{{ !!data?.id ? "Actualizar" : "Crear" }} descuento</h2>
<mat-dialog-content>
  <form id="dataForm" [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="flex flex-col gap-3">
      <mat-form-field>
        <mat-label>Tipo de descuento</mat-label>
        <mat-select formControlName="type">
          @for (type of discountTypes; track $index) {
          <mat-option [value]="type.value">{{ type.label }}</mat-option>
          }
        </mat-select>
        <mat-hint
          >Seleccione si el descuento es monto fijo o porcentaje</mat-hint
        >
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("type")) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label> 
            @if (this.formGroup.get("type")?.value === 'PERCENTAGE') {
                Porcentaje
            } @else {
                Monto fijo
            }    
            de descuento
        </mat-label>
        <input type="number" matInput placeholder="Ejemplo: 10" formControlName="value" />
        <mat-hint
          >Ingrese el porcentaje ó cantidad de descuento (solo número)</mat-hint
        >
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("value")) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre del descuento</mat-label>
        <input
          matInput
          placeholder="Ej: Descuento por temporada"
          formControlName="name"
        />
        <mat-hint>Escriba un nombre descriptivo para el descuento</mat-hint>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("name")) }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
    {{ loading() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>
