<div class="item" (click)="toggleExpanded()">
  @if (enrollment().state === 'INACTIVE') {
  <mat-icon
    svgIcon="circle-medium"
    class="text-red-800!"
    matTooltip="Inactivo"
  />
  } @else if (enrollment().state === 'PAUSED') {
  <mat-icon
    svgIcon="circle-medium"
    class="text-yellow-600!"
    matTooltip="Pausado"
  />
  } @else if (enrollment().state === 'ACTIVE') {
  <mat-icon
    svgIcon="circle-medium"
    class="text-green-600!"
    matTooltip="Activo"
  />
  }
  <div>
    <p class="font-medium">{{ enrollment().details }}</p>
    <p class="text-xs text-gray-500">
      {{ enrollment().level.name }}
    </p>
  </div>

  <span class="flex-1"></span>

  <button mat-icon-button (click)="openEnrollmentCalendarDialog($event)">
    <mat-icon svgIcon="calendar" />
  </button>

  <button mat-icon-button disabled>
    <mat-icon [svgIcon]="expanded() ? 'chevron-up' : 'chevron-down'" />
  </button>
</div>

@if (expanded()) {
<div class="flex flex-col gap-1 pl-8 mt-1">
  @for (debit of debits(); track debit.id) {
    <app-concept-option [debit]="debit" />
  }
</div>
}
