<div class="item" (click)="toggleExpanded()">
  <app-avatar
    [imageSource]="enrollment().branch.picture"
    [matTooltip]="enrollment().branch.name"
  ></app-avatar>
  <div>
    <p class="font-medium">{{ enrollment().details }}</p>
    <p class="text-xs text-gray-500">
      {{ enrollment().level.name }}
    </p>
  </div>

  <span class="flex-1"></span>

  <button mat-icon-button (click)="openEnrollmentCalendarDialog($event)">
    <mat-icon svgIcon="calendar" />
  </button>

  <button mat-icon-button disabled>
    <mat-icon [svgIcon]="expanded() ? 'chevron-up' : 'chevron-down'" />
  </button>
</div>

@if (expanded()) {
<div class="flex flex-col gap-1 pl-8 mt-1">
  @for (debit of debits(); track debit.id) {
  <app-concept-option [debit]="debit" />
  }
</div>
}
