<h2 mat-dialog-title>
  {{ !!data?.id ? "Actualizar" : "Crear" }} disciplina/paquete
</h2>
<mat-dialog-content>
  <form id="dataForm" [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="flex flex-col gap-3">
      <mat-checkbox color="primary" formControlName="isPackage">
        ¿Es un paquete de disciplinas?
      </mat-checkbox>

      <mat-form-field>
        <mat-label
          >Nombre del
          {{
            formGroup.get("isPackage")?.value ? "paquete" : "disciplina"
          }}</mat-label
        >
        <input
          matInput
          [placeholder]="
            formGroup.get('isPackage')?.value
              ? 'Ej. Paquete 3'
              : 'Ej. Taekwondo'
          "
          formControlName="name"
        />
        <mat-hint
          >Ingrese el nombre del
          {{
            formGroup.get("isPackage")?.value ? "paquete" : "disciplina"
          }}</mat-hint
        >
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("name")) }}
        </mat-error>
      </mat-form-field>

      @if (formGroup.get("isPackage")?.value) {
      <mat-form-field>
        <mat-label>Cantidad de disciplinas</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ej. 3"
          formControlName="quantity"
        />
        <mat-hint>Ingrese la cantidad de disciplina permitidas</mat-hint>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("quantity")) }}
        </mat-error>
      </mat-form-field>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
    {{ loading() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>
