<div
  class="item"
  (click)="selectEnrollment()"
  [ngClass]="{ active: isActive() }"
  cdkDrag
>
  <mat-icon svgIcon="drag" class="cursor-move" cdkDragHandle></mat-icon>

  <div>
    <p class="font-medium">{{ node.details }}</p>
    <p class="text-xs text-gray-500">
      {{ node.level.name }}
    </p>
  </div>

  <span class="flex-1"></span>

  @if (node.state === 'INACTIVE') {
  <mat-icon
    svgIcon="circle-medium"
    class="text-red-800!"
    matTooltip="Inactivo"
  />
  } @else if (node.state === 'PAUSED') {
  <mat-icon
    svgIcon="circle-medium"
    class="text-yellow-600!"
    matTooltip="Pausado"
  />
  } @else if (node.state === 'ACTIVE') {
  <mat-icon
    svgIcon="circle-medium"
    class="text-green-600!"
    matTooltip="Activo"
  />
  }

  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="openMenu($event)">
    <mat-icon svgIcon="dots-vertical"></mat-icon>
  </button>

  <div class="item-placeholder" *cdkDragPlaceholder></div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="calendar.emit(node)">
    <mat-icon svgIcon="calendar" />
    <span>Calendario</span>
  </button>
  <button mat-menu-item (click)="update.emit(node)">
    <mat-icon svgIcon="pencil" />
    <span>Editar</span>
  </button>
  <button mat-menu-item (click)="remove.emit(node)">
    <mat-icon svgIcon="delete" class="!text-red-400" />
    <span>Eliminar</span>
  </button>
</mat-menu>
