<div
  class="item"
  (click)="selectEnrollment()"
  [ngClass]="{ active: isActive() }"
  cdkDrag
>
  <mat-icon svgIcon="drag" class="cursor-move" cdkDragHandle></mat-icon>
  <div>
    <p class="font-medium">{{ enrollment.details }}</p>
    <div
      matListItemLine
      class="text-xs"
      [ngClass]="{
    'text-red-800': enrollment.state === 'INACTIVE',
    'text-green-800': enrollment.state === 'ACTIVE',
    'text-yellow-800': enrollment.state === 'PAUSED',
  }"
    >
      {{ enrollment.state | enrollmentState }}
    </div>
  </div>
  <span class="flex-1"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="openMenu($event)">
    <mat-icon svgIcon="dots-vertical"></mat-icon>
  </button>

  <div class="item-placeholder" *cdkDragPlaceholder></div>
</div>

<mat-menu #menu="matMenu">
  @if (enrollment.activity.isPackage) {
  <button mat-menu-item (click)="create.emit(enrollment)">
    <mat-icon svgIcon="plus" />
    <span>Agregar inscrición</span>
  </button>
  }
  <button mat-menu-item (click)="update.emit(enrollment)">
    <mat-icon svgIcon="pencil" />
    <span>Editar</span>
  </button>
  <button mat-menu-item (click)="delete.emit(enrollment)">
    <mat-icon svgIcon="delete" class="!text-red-400" />
    <span>Eliminar</span>
  </button>
</mat-menu>
