<div class="item" matRipple (click)="select($event)" [class.active]="marked()">
  @if (marked()) {
  <mat-icon svgIcon="checkbox-marked-outline" class="!text-primary mr-2" />
  } @else {
  <mat-icon svgIcon="checkbox-blank-outline" class="!text-gray-500 mr-2" />
  }

  <div>
    <p class="font-medium text-sm">{{ debit().description }}</p>
    <p class="text-xs text-gray-500">
      <span matTooltip="Fecha limite de pago">{{ debit().dueDate }}</span
      >,
      <span matTooltip="Cantidad a pagar ">{{
        debit().total | currency : "MXN"
      }}</span>
    </p>
  </div>

  <span class="flex-1"></span>

  <mat-icon
    svgIcon="circle-medium"
    [matTooltip]="nametag()"
    [ngClass]="{
    '!text-yellow-600': isDebit() && !isDebitWithDelay(),
    '!text-purple-800': isDebitPartiallyPaid(),
    '!text-red-800': isDebitWithDelay(),
}"
  ></mat-icon>
</div>
