<mat-toolbar>
  <h4>Ajustes</h4>
  <span class="flex-1"></span>
  <button mat-icon-button matSuffix (click)="closeSidenavLeft.emit()">
    <mat-icon svgIcon="close" />
  </button>
</mat-toolbar>
<div class="px-4">
  <p class="mb-2">
    Selecciona la sucursal que deseas gestionar. Puedes cambiar entre las
    sucursales en cualquier momento.
  </p>

  <mat-form-field class="w-full">
    <mat-label>Sucursal</mat-label>
    <mat-select [formControl]="branchControl">
      @for (branch of branchTools.options(); track $index) {
      <mat-option [value]="branch.id">
        <div class="flex items-center gap-2">
          <img [alt]="branch.name" class="h-6 w-6" [src]="branch.picture" />
          <span> {{ branch.name }} </span>
        </div>
      </mat-option>
      }
    </mat-select>
    <mat-hint> Seleccione una sucursal </mat-hint>
  </mat-form-field>

  <p class="mb-2">
    Selecciona el ciclo escolar que deseas gestionar. Puedes cambiar entre los
    ciclos en cualquier momento.
  </p>

  <mat-form-field class="w-full">
    <mat-label>Ciclo escolar</mat-label>
    <mat-select [formControl]="cycleControl">
      @for (cycle of cycleTools.options(); track $index) {
      <mat-option [value]="cycle.id">{{ cycle.name }}</mat-option>
      }
    </mat-select>
    <mat-hint> Seleccione un ciclo escolar </mat-hint>
  </mat-form-field>
</div>
