<h2 mat-dialog-title>¿Deseas eliminar este registro?</h2>
<mat-dialog-content>
  <div class="flex items-center gap-2 mt-4">
    <div>
      <p>
        {{ data.name }}
      </p>
      <p class="text-gray-700">
        {{ data.abbreviation }}
      </p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="delete()" [disabled]="loading()">
    {{ loading() ? "Eliminando..." : "Eliminar" }}
  </button>
</mat-dialog-actions>
