<h2 mat-dialog-title>Recibir pago</h2>
<mat-dialog-content>
  <form id="paymentForm" [formGroup]="paymentsForm" (ngSubmit)="submit()">
    <div class="flex justify-between gap-2">
      <p>
        <span class="font-bold">Deuda total:</span>
        {{ total() | currency : "MXN" }}
      </p>
      <p>
        <span class="font-bold">Restante: </span>
        {{ remainingAmount() | currency : "MXN" }}
      </p>
    </div>

    <mat-error>
      {{ formTools.checkForErrorsIn(paymentsForm) }}
    </mat-error>

    <mat-tab-group formArrayName="payments">
      @for (paymentForm of payments.controls; track $index +
      paymentForm.get('method')?.value) {
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon
            [svgIcon]="paymentIcons[paymentForm.get('method')!.value]"
          />
          {{ paymentNames[paymentForm.get("method")!.value] }}
        </ng-template>

        <app-charge-form [form]="paymentForm" />
      </mat-tab>
      }
    </mat-tab-group>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="paymentForm" [disabled]="loading()">
    {{ loading() ? "Cobrando..." : "Cobrar" }}
  </button>
</mat-dialog-actions>
