<mat-toolbar>
  @if (isMobileScreen) {
  <button
    mat-icon-button
    (click)="toggleSidenavLeft.emit()"
    class="block sm:hidden"
  >
    <mat-icon svgIcon="menu" />
  </button>
  }

  <button mat-icon-button>
    <mat-icon svgIcon="bell-outline" matBadge="4" aria-hidden="false" />
  </button>

  <span class="flex flex-1"></span>

  <button mat-button [matMenuTriggerFor]="profilemenu">
    <mat-icon svgIcon="account-outline" />
    {{ username() }}
  </button>

  <mat-menu #profilemenu="matMenu" class="w-[220px]">
    <button mat-menu-item (click)="toggleSidenavRight.emit()">
      <mat-icon svgIcon="cog-outline" />
      Ajustes
    </button>
    <button mat-menu-item (click)="signOut()">
      <mat-icon svgIcon="logout" />
      Cerrar sesión
    </button>
  </mat-menu>
</mat-toolbar>
