<h2 mat-dialog-title>Crear permiso</h2>

<mat-dialog-content>
  <form
    [formGroup]="formGroup"
    class="flex flex-col gap-3"
    id="permissionForm"
    (ngSubmit)="saveData()"
  >
    <mat-form-field>
      <mat-label>Ruta</mat-label>
      <mat-select formControlName="route">
        @for (group of navigations; track group.section) {
        <mat-optgroup [label]="group.section">
          @for (link of group.routes; track link.route + $index) {
          <mat-option
            [value]="link.route"
            [matTooltip]="link.isGlobal ? 'Global' : 'Por sucursal'"
          >
            <div class="flex items-center">
              <mat-icon [svgIcon]="link.iconName" />
              <h4 mat-line>{{ link.displayName }}</h4>
            </div>
          </mat-option>
          }
        </mat-optgroup>
        }
      </mat-select>
      <mat-hint>
        Seleccione la ruta a la que se le asignarán los permisos
      </mat-hint>
      <mat-error>
        {{ formTools.checkForErrorsIn(formGroup.get("route")) }}
      </mat-error>
    </mat-form-field>

    @if (withRoute) {
    <div >
      <h5 class="font-medium">Acciones permitidas</h5>

      @for (permission of permissions; track permission.permission) {
      <mat-checkbox [formControlName]="permission.permission">
        {{ permission.name }}
      </mat-checkbox>
      }
    </div>

    @if (!isGlobalRoute) {
    <mat-form-field>
      <mat-label>Sucursales</mat-label>
      <mat-select formControlName="resources" multiple>
        @for (branch of branchTools.options(); track $index) {
        <mat-option [value]="branch.id">
          <div class="flex items-center gap-2">
            <img [alt]="branch.name" class="h-6 w-6" [src]="branch.picture" />
            <span> {{ branch.name }} </span>
          </div>
        </mat-option>
        }
      </mat-select>
      <mat-hint>
        Seleccione la ruta a la que se le asignarán los permisos
      </mat-hint>
      <mat-error>
        {{ formTools.checkForErrorsIn(formGroup.get("route")) }}
      </mat-error>
    </mat-form-field>
    } }

    <button mat-button form="permissionForm">
      {{ formGroup.get("id")?.value ? "Actualizar" : "Crear" }} permiso
    </button>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial form="permissionForm">Guardar</button>
</mat-dialog-actions>
