<mat-card>
  <mat-card-header>
    <mat-card-title>Inscripciones</mat-card-title>
  </mat-card-header>
  <mat-card-content class="h-[calc(100vh-10rem)]">
    <div class="my-2">
      <app-student-state />
    </div>
    <div class="flex gap-2 h-full">
      <!-- Sidebar (Chats List) -->
      <div class="w-1/3 flex flex-col">
        <div class="flex items-center gap-2 p-2">
          <mat-form-field subscriptSizing="dynamic" class="w-full">
            <input
              matInput
              placeholder="Ej. Taekwondo"
              [formControl]="searchControl"
            />
          </mat-form-field>
          <button
            mat-icon-button
            color="primary"
            matTooltip="Refrescar"
            (click)="refreshEnrollments()"
            [disabled]="!student()?.id"
          >
            <mat-icon
              svgIcon="refresh"
              [ngClass]="{ 'animate-spin': enrollmentsLoading() }"
            />
          </button>
          <button
            mat-icon-button
            (click)="openEnrollmentFormDialog()"
            [disabled]="!student()?.id"
          >
            <mat-icon svgIcon="plus" />
          </button>
        </div>
        <mat-divider />

        <ng-scrollbar class="relative flex-1">
          <mat-nav-list>
            @for (enrollment of enrollments(); track $index) {
            <app-enrollment-item
              [enrollment]="enrollment"
              (update)="openEnrollmentFormDialog($event)"
              (delete)="openEnrollmentDeleteDialog($event)"
            />
            }
          </mat-nav-list>
        </ng-scrollbar>
      </div>
      <!-- Debits Area -->
      <div class="w-2/3 flex flex-col">
        <div class="flex items-center gap-2 p-2">
          @if (!!enrollment()?.id) {
          <h4 class="font-medium text-lg">{{ enrollment()!.details }}</h4>
          }
          <span class="flex-1 h-[52px]"></span>

          <button
            mat-icon-button
            color="primary"
            matTooltip="Refrescar"
            (click)="refreshDebits()"
            [ngClass]="{ 'animate-spin': debitsLoading() }"
            [disabled]="!enrollment()?.id"
          >
            <mat-icon svgIcon="refresh" />
          </button>
          <button
            mat-icon-button
            (click)="openDebitFormDialog()"
            [disabled]="!enrollment()?.id"
          >
            <mat-icon svgIcon="plus" />
          </button>
        </div>
        <mat-divider />

        <ng-scrollbar class="relative flex-1">
          <mat-nav-list>
            @for (fee of debits(); track $index) {
            <!-- <app-fee-item
                [fee]="fee"
                (update)="openFeeFormDialog($event)"
                (delete)="openFeeDeleteDialog($event)"
              /> -->
            }
          </mat-nav-list>
        </ng-scrollbar>
      </div>
    </div>
  </mat-card-content>
</mat-card>
