<mat-card>
  <mat-card-header>
    <mat-card-title>Inscripciones</mat-card-title>
  </mat-card-header>
  <mat-card-content class="h-[calc(100vh-10rem)]">
    <div class="my-2">
      <app-student-state />
    </div>
    <div class="flex gap-2 h-full">
      <!-- Sidebar (Chats List) -->
      <div class="w-1/3 flex flex-col">
        <div class="flex items-center gap-2 p-2">
          <mat-form-field subscriptSizing="dynamic" class="w-full">
            <input
              matInput
              placeholder="Ej. Taekwondo"
              [formControl]="searchControl"
            />
          </mat-form-field>
          <button
            mat-icon-button
            (click)="openEnrollmentFormDialog()"
            [disabled]="!student()?.id || !branch()?.id || !cycle()?.id"
            matTooltip="Agregar inscripción"
          >
            <mat-icon svgIcon="plus" />
          </button>
        </div>
        <mat-divider />

        <ng-scrollbar
          class="relative flex-1 mt-2"
          cdkDropList
          (cdkDropListDropped)="dropEnrollment($event)"
        >
          <cdk-tree
            #tree="cdkTree"
            [dataSource]="enrollmentsDataSource"
            [levelAccessor]="enrollmentsDataSource.levelAccessor"
            [trackBy]="enrollmentsDataSource.trackBy"
          >
            <cdk-tree-node
              *cdkTreeNodeDef="let node"
              [isExpandable]="node.expandable"
              [cdkTreeNodeTypeaheadLabel]="node.item.id"
              (expandedChange)="enrollmentsDataSource.toggleNode(node, $event)"

            >
              <app-enrollment-item
                [node]="node"
                [isExpanded]="tree.isExpanded(node)"
                (create)="createChildEnrollmentFormDialog($event)"
                (update)="openEnrollmentFormDialog($event)"
                (remove)="openEnrollmentDeleteDialog($event)"
              />
            </cdk-tree-node>
          </cdk-tree>
        </ng-scrollbar>
      </div>
      <!-- Debits Area -->
      <div class="w-2/3 flex flex-col">
        <div class="flex items-center gap-2 p-2">
          @if (!!enrollment()?.id) {
          <h4 class="font-medium text-lg">{{ enrollment()!.details }}</h4>
          }
          <span class="flex-1 h-[52px]"></span>
          <button
            mat-icon-button
            [disabled]="!enrollment()?.id"
            [matMenuTriggerFor]="menu"
            matTooltip="Agregar pagos"
          >
            <mat-icon svgIcon="plus" />
          </button>
        </div>

        <mat-divider />

        <ng-scrollbar class="relative flex-1 mt-2">
          <mat-nav-list>
            @for (debit of debits(); track $index) {
            <app-debit-item
              [debit]="debit"
              (update)="openDebitFormDialog($event)"
              (delete)="openDebitDeleteDialog($event)"
            />
            }
          </mat-nav-list>
        </ng-scrollbar>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDebitCatalogDialog()">
    <mat-icon svgIcon="plus" />
    <span>Usar catálogo</span>
  </button>
  <button mat-menu-item (click)="openDebitFormDialog()">
    <mat-icon svgIcon="plus" />
    <span>Creación manual</span>
  </button>
</mat-menu>
