<mat-card>
  <mat-card-header>
    <mat-card-title>Inscripciones</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-student-state />
  </mat-card-content>
  <mat-card-content>
    <div class="grid grid-cols-4 gap-2">
      <!-- Sidebar (Chats List) -->
      <div class="col-span-1 flex flex-col h-[calc(100vh-14rem)]">
        <div class="flex items-center gap-2 p-2">
          <mat-form-field subscriptSizing="dynamic" class="w-full">
            <input
              matInput
              placeholder="Ej. Taekwondo"
              [formControl]="searchControl"
            />
          </mat-form-field>
          <button
            mat-icon-button
            (click)="openEnrollmentFormDialog()"
            [disabled]="!student()?.id || !branch()?.id || !cycle()?.id"
            matTooltip="Agregar inscripción"
          >
            <mat-icon svgIcon="plus" />
          </button>
        </div>

        <mat-divider />

        <ng-scrollbar
          cdkDropList
          class="relative flex-1 mt-2"
          (cdkDropListDropped)="dropEnrollment($event)"
        >
          @for (enrollment of enrollments(); track enrollment.id) {
          <app-enrollment-item
            [node]="enrollment"
            (update)="openEnrollmentFormDialog($event)"
            (remove)="openEnrollmentDeleteDialog($event)"
            (calendar)="openEnrollmentCalendarDialog($event)"
          />
          }
        </ng-scrollbar>
      </div>
      <!-- Debits Area -->
      <div class="col-span-3 flex flex-col h-[calc(100vh-14rem)]">
        <div class="flex items-center gap-2 p-2">
          @if (!!enrollment()?.id) {
          <h4 class="font-medium text-lg">{{ enrollment()!.details }}</h4>
          }
          <span class="flex-1 h-[56px]"></span>
          <button
            mat-icon-button
            [disabled]="!enrollment()?.id"
            [matMenuTriggerFor]="menu"
            matTooltip="Agregar pagos"
          >
            <mat-icon svgIcon="plus" />
          </button>
        </div>

        <mat-divider />

        <ng-scrollbar class="relative flex-1 mt-2">
          @for (debit of debits(); track $index) {
          <app-debit-item
            [debit]="debit"
            (update)="openDebitFormDialog($event)"
            (delete)="openDebitDeleteDialog($event)"
          />
          }
        </ng-scrollbar>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu">
  @if (branch()?.id === '9b5509f2-fcad-47d3-9bd4-49a79184f01d') {
    <button mat-menu-item (click)="openLightOnCatalogDialog()">
      <mat-icon svgIcon="plus" />
      <span>Precios LiGht On</span>
    </button>
  }
  <button mat-menu-item (click)="openDebitCatalogDialog()">
    <mat-icon svgIcon="plus" />
    <span>Usar catálogo</span>
  </button>
  <button mat-menu-item (click)="openDebitFormDialog()">
    <mat-icon svgIcon="plus" />
    <span>Creación manual</span>
  </button>
</mat-menu>
