<h2 mat-dialog-title>{{ !!data?.id ? "Actualizar" : "Crear" }} nivel</h2>
<mat-dialog-content>
  <form id="dataForm" [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="flex flex-col gap-3">
      <mat-form-field>
        <mat-label>Abreviatura</mat-label>
        <input
          matInput
          placeholder="Ej: WK, AQ"
          formControlName="abbreviation"
        />
        <mat-hint>Ingrese la abreviatura del nivel</mat-hint>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("abbreviation")) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre del nivel</mat-label>
        <input
          matInput
          placeholder="Ej: Warlocks, Alchemists"
          formControlName="name"
        />
        <mat-hint>Ingrese el nombre del nivel de estudio</mat-hint>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("name")) }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
    {{ loading() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>
