.mat-drawer.sidebar {
  width: 270px;
  flex-shrink: 0;
  transition: swift-ease-out(width);
  position: absolute;
  overflow-x: hidden;
  border-right: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0px !important;
}

.sidebar-list {
  &.mdc-list {
    padding: 0 16px;

    .mdc-list-group__subheader {
      margin: 12px 0;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 700;
    }
  }
}
