<mat-sidenav-container class="h-screen w-screen" autosize autofocus dir="ltr">
  <mat-sidenav
    #leftsidenav
    [mode]="isOver ? 'over' : 'side'"
    [opened]="!isOver"
    class="sidebar"
  >
    <div class="flex flex-col h-full">
      <app-sidebar></app-sidebar>

      <ng-scrollbar class="relative flex-1">
        <mat-nav-list class="sidebar-list">
          @for (nav of navigations; track $index) {
          <div mat-subheader class="nav-caption">
            {{ nav.section }}
          </div>
          @for (route of nav.routes; track $index) {
          <app-nav-item [route]="route" />
          } }
        </mat-nav-list>
      </ng-scrollbar>
    </div>
  </mat-sidenav>

  <mat-sidenav-content #content>
    <app-header
      [isMobileScreen]="isMobileScreen()"
      (toggleSidenavLeft)="leftsidenav.toggle()"
      (toggleSidenavRight)="rightsidenav.toggle()"
    />

    <main class="p-6 min-h-[calc(100vh-64px)] mx-auto max-w-[1200px]">
      <router-outlet />
    </main>
  </mat-sidenav-content>

  <!-- Right Sidenav -->
  <mat-sidenav #rightsidenav mode="over" position="end">
    <div class="flex flex-col h-full">
      <app-global-state-settings (closeSidenavLeft)="rightsidenav.toggle()" />
    </div>
  </mat-sidenav>
</mat-sidenav-container>
