<h2 mat-dialog-title>{{ !!data?.id ? "Actualizar" : "Crear" }} política</h2>
<mat-dialog-content>
  <form
    id="dataForm"
    [formGroup]="formGroup"
    (ngSubmit)="submit()"
    class="flex flex-col gap-3"
  >
    <h5 class="font-medium">Informacion de la política</h5>

    <mat-form-field>
      <mat-label>Nombre de la política</mat-label>
      <input matInput placeholder="Ej: Administrador" formControlName="name" />
      <mat-hint>Ingrese el nombre de la política</mat-hint>
      <mat-error>
        {{ formTools.checkForErrorsIn(formGroup.get("name")) }}
      </mat-error>
    </mat-form-field>
    <div class="flex justify-between items-center mb-2">
      <h5 class="font-medium">Lista de permisos</h5>

      <button
        mat-icon-button
        matSuffix
        matTooltip="Agregar permiso"
        (click)="openActionForm()"
      >
        <mat-icon svgIcon="plus" />
      </button>
    </div>
    
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
    {{ loading() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>
