<mat-card>
  <mat-card-header>
    <mat-card-title>Cobranza</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-student-state />
  </mat-card-content>
  <mat-card-content>
    <div class="grid grid-cols-5 gap-2">
      <!-- Sidebar (Chats List) -->
      <div class="col-span-2 flex flex-col h-[calc(100vh-14rem)]">
        <mat-divider />

        <ng-scrollbar class="relative flex-1 mt-2">
          @for (enrollment of enrollments(); track enrollment.id) {
          <app-enrollment-with-debits [enrollment]="enrollment" />
          }
        </ng-scrollbar>
      </div>
      <!-- Debits Area -->
      <div class="col-span-3 flex flex-col h-[calc(100vh-14rem)]">
        <mat-divider />

        <ng-scrollbar class="relative flex-1 mt-2">
          <app-sale-details />
        </ng-scrollbar>
      </div>
    </div>
  </mat-card-content>
</mat-card>
