<h2 mat-dialog-title>{{ !!data?.id ? "Actualizar" : "Crear" }} adeudo</h2>
<mat-dialog-content>
  <form id="dataForm" [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="flex flex-col gap-3">
      <mat-checkbox color="primary" formControlName="withTax" matTooltip="El IVA se aplica despues de los descuentos">
        ¿Incluye IVA?
      </mat-checkbox>

      <mat-form-field>
        <mat-label>Descripción del adeudo</mat-label>
        <input
          matInput
          placeholder="Ej: Mensualidad del servicio"
          formControlName="description"
        />
        <mat-hint>Ingrese una descripción detallada del adeudo</mat-hint>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("description")) }}
        </mat-error>
      </mat-form-field>

      <div class="grid grid-cols-2 gap-3">
        <mat-form-field>
          <mat-label>Precio unitario</mat-label>
          <input
            matInput
            placeholder="Ej: 100.00"
            formControlName="unitPrice"
            type="number"
          />
          <mat-hint>Precio por unidad del concepto</mat-hint>
          <mat-error>
            {{ formTools.checkForErrorsIn(formGroup.get("unitPrice")) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cantidad de unidades</mat-label>
          <input
            matInput
            placeholder="Ej: 2"
            formControlName="quantity"
            type="number"
          />
          <mat-hint>Cantidad de unidades a cobrar</mat-hint>
          <mat-error>
            {{ formTools.checkForErrorsIn(formGroup.get("quantity")) }}
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Importe</mat-label>
        <input
          matInput
          placeholder="Ej: 200.00"
          formControlName="amount"
          type="number"
        />
        <mat-hint>Importe total a cobrar por el adeudo</mat-hint>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("amount")) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha del pago</mat-label>
        <input
          matInput
          [matDatepicker]="datepicker"
          formControlName="dueDate"
        />
        <mat-hint>Seleccione la fecha en que se realizará el pago</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker> </mat-datepicker>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("dueDate")) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Estado del adeudo</mat-label>
        <mat-select formControlName="state">
          @for (state of states; track $index) {
          <mat-option [value]="state.value">{{ state.label }}</mat-option>
          }
        </mat-select>
        <mat-hint>Seleccione el estado actual del adeudo</mat-hint>
        <mat-error>
          {{ formTools.checkForErrorsIn(formGroup.get("state")) }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
    {{ loading() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>
